#gamepad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  width: 100px;

  #up {
    grid-column: 2;
  }

  #left {
    grid-column: 1;
  }

  > * {
    cursor: pointer;
  }
}

#board {
  position: relative;
  height: 150px;
  width: 150px;
  border: 1px solid red;

  #player {
    position: absolute;
    transform: translate(-50%, -50%);
  }
}